@media (max-width: 991px) {
    
    html, body {
        font-size: 16px;
    }
    header{
        padding-top: 10px;
        padding-left: 10px;
    }
    .w-m-100 {
        width: 100%;
    }
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .section-1 {
        .row {
            flex-direction: column;
            align-items: center;
            
            .col:first-child {
                width: 100%;
            }
            
            .col:last-child {
                display: none;
            }
        }
    }
    .section-2 {
        .row {
            justify-content: center;
        }
        
        .col {
            padding: 20px;
        }
    }
    .section-4 {
        p {
            text-align: center;
        }
    }
    .section-5 {
        .row {
            flex-direction: column;
        }
        
        .col {
            text-align: center;
        }
        .section-5-item_img{
            margin: 20px auto
        }
    }
}

@media (max-width: 768px) {
    html, body {
        font-size: 12px;
    }
    h1 {
        font-size: 4rem;
    }
    .col {
        flex: 90%
    }

}
